<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo APPLICATION_TITLE; ?></title>
<link href="templates/styles/main_style.css" rel="stylesheet" type="text/css" />
</head>

<body class="forbidden">
<div id="page">
	<div id="main">
		<div id="header">
<?php include 'templates/_header.html'; ?>
		</div>
		
		<div id="content">
			Vous n'avez pas accès à cette page, veuillez vous connecter
		</div><!-- end content -->
	</div>
	<div id="sidebar">
		<div id="log">
<?php include 'templates/_log.html'; ?>
		</div>
<?php include 'templates/_menu.html'; ?>
	</div>
	<div id="footer"><?php include 'templates/_footer.html'; ?></div>
</div>
</body>
</html>